<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión - Veterinaria</title>
</head>
<body>
    <div class="wrapper">
        <h2>Sistema de Gestión</h2>
        <div class="btn-group">
            <a href="/usuarios/" class="btn3">Usuarios</a>
            <a href="/listado/" class="btn3">Mascotas</a>
            <a href="/consultas/" class="btn3">Consultas</a>
        </div>
    </div>
</body>
</html>
